#top-link {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 10px;
    left: 0px;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    z-index: 10;
    opacity: 0;
    transition: opacity 5s ease;
    pointer-events: none; /* so it's not clickable until it appears */
  }

  #top-link.show {
    opacity: 1;
    pointer-events: auto; /* clickable now */
  }